---
name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main

jobs:
  semantic_release:
    name: Semantic Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.repository == '3dct/viqa'
    permissions:
      id-token: write
      contents: write
    outputs:
      tag: ${{ steps.release.outputs.tag }}
      released: ${{ steps.release.outputs.released }}
      version: ${{ steps.release.outputs.version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
          submodules: recursive

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: [semantic_release]
    if: ${{ always() && !cancelled() }}
    strategy:
      fail-fast: false
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-24.04, windows-latest, macos-14]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Select Xcode version
        run: |
          sudo xcode-select -s /Applications/Xcode_15.4.app/Contents/Developer
          clang -v
        if: ${{ matrix.os == 'macos-14-large'}}

      - name: Select Xcode version
        run: |
          sudo xcode-select -s /Applications/Xcode_15.4.app/Contents/Developer
          clang -v
        if: ${{ matrix.os == 'macos-14'}}

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.19.2
        env:
          CIBW_PRERELEASE_PYTHONS: true
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "pyproject.toml"

      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-24.04
    needs: [semantic_release]
    if: ${{ always() && !cancelled() }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build sdist
        run: pipx run build --sdist

      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  upload_testpypi:
    name: Upload to Test PyPI
    needs: [semantic_release, build_wheels, build_sdist]
    if: |
      (github.ref == 'refs/heads/dev' && startsWith(github.ref, 'refs/tags/v')) ||
      (github.ref == 'refs/heads/main' && needs.semantic_release.outputs.released == 'true')
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/project/vIQA/
    permissions:
      id-token: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish on Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  test_install:
    name: Test install from Test PyPI on ${{ matrix.os }}
    # This job is not necessary, but it's a good idea to test the package
    needs: [semantic_release, upload_testpypi]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-24.04, windows-latest, macos-14]
    outputs:
      tested: ${{ steps.test_install.outputs.tested }}

    steps:
      - name: Set up Python ${{ vars.MINIMAL_PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ vars.MINIMAL_PYTHON_VERSION }}

      - name: Test install from Test PyPI
        if: ${{ matrix.os == 'macos-14' || matrix.os == 'ubuntu-24.04' }}
        id: test_install
        run: |
            python -m pip install --index-url https://test.pypi.org/simple/ \
            --extra-index-url https://pypi.org/simple viqa==$VERSION
            python -c "import viqa; print(viqa.__version__)"
            echo "vIQA installed successfully"
            echo "tested=true" >> $GITHUB_OUTPUT
        env:
          VERSION: ${{ needs.semantic_release.outputs.version }}

      - name: Test install from Test PyPI
        if: ${{ matrix.os == 'windows-latest' }}
        id: test_install_windows
        run: |
            python -m pip install --index-url https://test.pypi.org/simple/ `
            --extra-index-url https://pypi.org/simple viqa==$VERSION
            python -c "import viqa; print(viqa.__version__)"
            echo "vIQA installed successfully"
            echo "tested=true" >> $GITHUB_OUTPUT
        env:
          VERSION: ${{ needs.semantic_release.outputs.version }}

  upload_pypi:
    name: Upload to PyPI
    needs: [semantic_release, build_wheels, build_sdist, upload_testpypi]  # test_install
    runs-on: ubuntu-latest
    if: needs.semantic_release.outputs.released == 'true'  # && needs.upload_testpypi.outputs.tested == 'true'
    environment:
      name: pypi
      url: https://pypi.org/project/vIQA/
    permissions:
      id-token: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  upload_github:
    name: Upload to GitHub Releases
    needs: [semantic_release, build_wheels, build_sdist]  # test_install
    runs-on: ubuntu-latest
    if: needs.semantic_release.outputs.released == 'true'  # && needs.upload_testpypi.outputs.tested == 'true'
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Sign the dists with Sigstore
        uses: sigstore/gh-action-sigstore-python@v2.1.1
        with:
          inputs: >-
            ./dist/*.tar.gz
            ./dist/*.whl

      - name: Publish package distributions to GitHub Releases
        uses: python-semantic-release/upload-to-gh-release@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
