---
name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  semantic_release:
    name: Semantic Release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    outputs:
      tag: ${{ steps.release.outputs.tag }}
      released: ${{ steps.release.outputs.released }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    needs: semantic_release
    runs-on: ${{ matrix.os }}
    if: needs.semantic_release.outputs.released == 'true'
    strategy:
      fail-fast: false
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-24.04, windows-latest, macos-14]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Select Xcode version
        run: |
          sudo xcode-select -s /Applications/Xcode_15.4.app/Contents/Developer
          clang -v
        if: ${{ matrix.os == 'macos-14-large'}}

      - name: Select Xcode version
        run: |
          sudo xcode-select -s /Applications/Xcode_15.4.app/Contents/Developer
          clang -v
        if: ${{ matrix.os == 'macos-14'}}

      # - name: Setup Python
      #   uses: actions/setup-python@v5
      #   with:
      #     python-version: "3.11" # update once build dependencies are available

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.19.2
        env:
          CIBW_PRERELEASE_PYTHONS: true
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "pyproject.toml"

      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    needs: semantic_release
    runs-on: ubuntu-24.04
    if: needs.semantic_release.outputs.released == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: main

      # - name: Setup Python
      #   uses: actions/setup-python@v5
      #   with:
      #     python-version: "3.11" # update once build dependencies are available

      - name: Build sdist
        run: pipx run build --sdist

      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  upload_testpypi:
    name: Upload to Test PyPI and test install
    needs: [semantic_release, build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: needs.semantic_release.outputs.released == 'true'
    environment:
      name: testpypi
      url: https://test.pypi.org/project/vIQA/
    permissions:
      id-token: write
    outputs:
      tested: ${{ steps.test_install.outputs.tested }}
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish on Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

      - name: Sleep for 30 seconds
        run: sleep 30s
        shell: bash

      - name: Test install from Test PyPI
        # This step is not necessary, but it's a good idea to test the package
        # TODO: move this to a separate job and check on different OS
        id: test_install
        run: |
            pip3 install --index-url https://test.pypi.org/simple/ viqa
            python -c "import viqa; print(viqa.__version__)"
            echo "vIQA installed successfully"
            echo "tested=true" >> $GITHUB_OUTPUT

  upload_pypi:
    name: Upload to PyPI
    needs: [semantic_release, build_wheels, build_sdist, upload_testpypi]
    runs-on: ubuntu-latest
    if: needs.semantic_release.outputs.released == 'true' && needs.upload_testpypi.outputs.tested == 'true'
    environment:
      name: pypi
      url: https://pypi.org/project/vIQA/
    permissions:
      id-token: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  upload_github:
    name: Upload to GitHub Releases
    needs: [semantic_release, build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: needs.semantic_release.outputs.released == 'true'
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish package distributions to GitHub Releases
        uses: python-semantic-release/upload-to-gh-release@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
